:root {
  --white: #ffffff;
  --dark: #000;
  --paleblue: hsl(225, 100%, 94%);
  --brightblue: hsl(245, 75%, 52%);
  --verypaleblue: hsl(225, 100%, 98%);
  --neutralblue800: hsl(223, 47%, 23%);
  --desaturatedblue: hsl(224, 23%, 55%);
  --darkblue: #1f2f56;
}

body {
  font-family: "Red Hat Display", sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #e0e8ff;
  background-image: url(./images/pattern-background-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  max-width: 28.125rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  background-color: var(--white);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 30px -8px rgb(167 168 207 / 43%);
}

.card-img-top img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-body {
  padding: 45px;
}

.card-title {
  color: var(--darkblue);
  font-size: 1.7rem;
  font-weight: 900;
  margin-bottom: 0.9rem;
}

.card-text {
  color: var(--desaturatedblue);
  font-size: 1.05rem;
  line-height: 25px;
  margin-bottom: 1.25rem;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  background-color: var(--verypaleblue);
  border-radius: 15px;
  margin-bottom: 1.875rem;
}

.plan-text {
  text-align: left;
  margin-right: 5.25rem;
}

h2 {
  font-weight: 900;
  font-size: 1rem;
}

.plan-text p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--desaturatedblue);
}

.plan-link {
  font-size: 0.9rem;
  font-weight: 700;
  transition: color 0.5s ease;
}

.plan-link:hover {
  text-decoration: none;
  color: var(--brightblue);
}

button {
  width: 100%;
  border-radius: 10px;
  background-color: var(--brightblue);
  border: none;
  color: var(--white);
  font-size: 0.95rem;
  font-weight: 700;
  padding: 1em;
  margin-bottom: 1.875rem;
  box-shadow: 0 20px 30px -8px rgb(197 198 245);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

.cancel-link {
  color: var(--desaturatedblue);
  font-size: 0.95rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

.cancel-link:hover {
  color: var(--neutralblue800);
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);
  }

  .card-body {
    padding: 1.875rem;
  }

  .card-title {
    font-size: 1.4rem;
  }

  .plan-text {
    margin-right: 3.125rem;
  }
}
